Пользователь вводит число, вы это число добавляете в первый пустой элемент массива и увеличиваете count на 1.
[ ] [ ] [ ]
>> 2
[2] [ ] [ ]
>> 4
[2] [4] [ ]
2) Добавить в начало
[2] [4] [ ]
>> 3
[3] [2] [4]
3) Удаление по номеру - пользователь вводит номер, вы смещаете все элементы, начиная со след. после текущего номера на 1 влево
[3] [2] [4]
>> 0
[2] [4] [0], уменшить count!